html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'mulisemibold';
  src: url("../../fonts/muli-semibold-webfont.eot");
  src: url("../../fonts/muli-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/muli-semibold-webfont.woff2") format("woff2"), url("../../fonts/muli-semibold-webfont.woff") format("woff"), url("../../fonts/muli-semibold-webfont.ttf") format("truetype"), url("../../fonts/muli-semibold-webfont.svg#mulisemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "arial"; }

h1, h2, h3, h4 {
  font-family: "mulisemibold"; }

h1 {
  font-size: 36px;
  line-height: 36px; }

h2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px; }

h3 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px; }

h4 {
  font-size: 18px;
  line-height: 18px; }

p {
  margin-bottom: 20px; }

.header img, .header h1 {
  display: inline-block;
  margin: 20px 20px 0 20px; }
.header img.logo {
  width: 100%;
  height: auto; }

.main-header {
  padding: 20px; }

.article {
  padding: 20px; }
  .article .header {
    margin-bottom: 10px; }
  .article img {
    margin-bottom: 20px; }
    .article img.main {
      display: block;
      width: 100%;
      height: auto; }

.aside {
  float: right;
  padding: 0 0 20px 20px;
  width: 200px;
  height: 80px; }
  .aside h4 {
    margin-bottom: 10px; }

.top-menu {
  margin: 20px;
  float: left; }
  .top-menu:first-child a {
    padding-left: 0px; }
  .top-menu li {
    float: left; }
  .top-menu a {
    padding: 5 10px;
    text-decoration: none; }

.sub-menu li {
  margin-bottom: 5px; }

.sidebar {
  margin-top: 30px; }

.social-panel {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  padding: 20px; }
  .social-panel i {
    font-size: 40px;
    padding: 10px; }

.menu-toggle {
  display: none;
  padding: 20px;
  text-align: center;
  cursor: pointer; }

@media only screen and (max-width: 768px) {
  .grid-container .col-sm-1 {
    width: 8.33333%; }
  .grid-container .col-sm-2 {
    width: 16.66667%; }
  .grid-container .col-sm-3 {
    width: 25%; }
  .grid-container .col-sm-4 {
    width: 33.33333%; }
  .grid-container .col-sm-5 {
    width: 41.66667%; }
  .grid-container .col-sm-6 {
    width: 50%; }
  .grid-container .col-sm-7 {
    width: 58.33333%; }
  .grid-container .col-sm-8 {
    width: 66.66667%; }
  .grid-container .col-sm-9 {
    width: 75%; }
  .grid-container .col-sm-10 {
    width: 83.33333%; }
  .grid-container .col-sm-11 {
    width: 91.66667%; }
  .grid-container .col-sm-12 {
    width: 100%; }
  .grid-container div[class^="col-lg"] {
    width: 100%; }
  .grid-container img.logo {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px; }
  .grid-container .social-panel {
    padding: 0px;
    position: static;
    margin: 0 auto;
    width: 75%; }
  .grid-container .menu-toggle {
    display: block; }
  .grid-container .top-menu {
    display: none;
    width: 100%; }
    .grid-container .top-menu.show {
      display: block; }
    .grid-container .top-menu li a {
      padding: 10px;
      display: block;
      margin-bottom: 5px; }
  .grid-container .aside {
    width: 100%;
    padding: 0px; }
  .grid-container .article .content {
    position: relative;
    padding-bottom: 100px; }
  .grid-container .article .aside {
    position: absolute;
    bottom: 0px; }
  .grid-container .sidebar h3 {
    font-size: 16px;
    line-height: 16px; } }
.grid-container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  display: table;
  content: " "; }
  .grid-container .row {
    width: 100%;
    display: table;
    content: " "; }
  .grid-container div[class^="col-lg"],
  .grid-container div[class^="col-sm"] {
    float: left; }
  .grid-container .col-lg-1 {
    width: 8.33333%; }
  .grid-container .col-lg-2 {
    width: 16.66667%; }
  .grid-container .col-lg-3 {
    width: 25%; }
  .grid-container .col-lg-4 {
    width: 33.33333%; }
  .grid-container .col-lg-5 {
    width: 41.66667%; }
  .grid-container .col-lg-6 {
    width: 50%; }
  .grid-container .col-lg-7 {
    width: 58.33333%; }
  .grid-container .col-lg-8 {
    width: 66.66667%; }
  .grid-container .col-lg-9 {
    width: 75%; }
  .grid-container .col-lg-10 {
    width: 83.33333%; }
  .grid-container .col-lg-11 {
    width: 91.66667%; }
  .grid-container .col-lg-12 {
    width: 100%; }

/*# sourceMappingURL=main.css.map */
